body, html {
    background: url('sea.jpg')  no-repeat center center fixed;
    
    margin :0;
   
}

@media (max-width: 500px){

    body, html {
        background-image: url('conv.jpg') ;
        height: 100%;
        margin :0;
        background-size: auto;
        border:  3px solid green;
    }
}

